@{
    ViewData["Title"] = "Inicio";
}

@using Microsoft.AspNetCore.Http
@using System.Security.Claims

<style>
    .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh; /* Altura ajustada */
    }

    .logo-circle {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: #2a75ff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        border: 5px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .welcome-text {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0;
    }
</style>

<div class="circle-container">
    <div class="logo-circle">
        @{
            var nombreUsuario = User.Identity?.Name;
            var nombreCompleto = User.FindFirst("NombreCompleto")?.Value;
        }

        @if (User.Identity.IsAuthenticated)
        {
            <h2 class="welcome-text">Bienvenido,</h2>
            <h2 class="welcome-text">@nombreCompleto</h2>
            <h3>(@nombreUsuario)</h3>
        }
        else
        {
            <h2 class="welcome-text">Sistema de Cobranza</h2>
            <div class="text-center mt-4">
                <p>Por favor <a asp-controller="Login" asp-action="Login" style="color: white; text-decoration: underline;">inicie sesión</a></p>
            </div>
        }
    </div>
</div>