@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    var nombreUsuario = User.Identity?.Name;
    var nombreCompleto = User.FindFirst("NombreCompleto")?.Value;
}

<h2>Bienvenido, @nombreCompleto (@nombreUsuario)</h2>